%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b City:
  = @user.city
%p
  %b College:
  = @user.college
%p
  %b Job:
  = @user.job

Activities:
%br
-@user.interests.each do |interest, activity = interest.activity|
  = link_to activity.name, interest_path(interest.id)
  = "Mentor!" if interest.wants_to_mentor
  = "Mentee" if interest.wants_to_be_mentored
  %br
= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
