%p#notice= notice

%p
  %b User:
  = link_to @interest.user.name, user_path(@interest.user_id)

%p
  %b Activity:
  = link_to @interest.activity.name, activity_path(@interest.activity_id)
%p
  %b Notes:
  = @interest.notes
-if @interest.wants_to_mentor
  %p
    %b Wants to mentor
-if @interest.wants_to_be_mentored
  %p
    %b Wants to be mentored

= link_to 'Edit', edit_interest_path(@interest)
