%h1 Listing activities

= simple_form_for @search do |f|
  .field
    =f.label :name_contains
    =f.text_field :name_contains
  .clear
  =f.submit "Search"

%table
  %tr
    %th Name
    %th Interested                
    %th Mentors
    %th Mentees

  - @activities.each do |activity|
    %tr
      %td= link_to activity.name, activity
      %td= activity.interests.count
      %td= activity.interests.where(wants_to_mentor: true).count
      %td= activity.interests.where(wants_to_be_mentored: true).count