%p#notice= notice

%p
  %b= @activity.name

%p
  Mentors:
  - @activity.interests.where(wants_to_mentor: true).each do |interest, user = interest.user|
    %br
    = link_to user.name, interest_path(interest.id)
    = user.email

%p
  Mentees:
  - @activity.interests.where(wants_to_be_mentored: true).each do |interest, user = interest.user|
    %br
    = link_to user.name, interest_path(interest.id)
    = user.email

%p
  All interested:
  - @activity.interests.each do |interest, user = interest.user|
    %br
    = link_to user.name, interest_path(interest.id)
    = user.email