-if user_signed_in?
  .big= link_to "users", users_path
  .big= link_to "interests", activities_path
  .big= link_to "Add your interest!", new_interest_path
  .signin_text
    Signed in as
    = link_to current_user.name, current_user
    %br
    Not you?
    = link_to "Sign out", destroy_user_session_path, :method => :delete
-else
  .big= link_to "Sign up", new_user_registration_path
  or
  .big= link_to "sign in", authentications_path